article {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.article_wrap {
  display: grid;
  grid-template-columns: 1fr 250px;
  grid-template-rows: 350px 1fr;
  gap: 20px;
}

.title_wrap {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.list {
  width: 100%;
}

.player_wrap {
  position: relative;
  padding-top: 50%;
}
.player {
  position: absolute;
  top: 0;
  left: 0;
}

.channel_wrap {
  display: flex;
  gap: 10px;
  align-items: center;
}

.channel {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  font-weight: 800;
}

.description {
  word-break: break-all;
}

@media screen and (max-width: 48rem) {
  .article_wrap {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
